[project]
	description = Files, Firmware and Software for the MiniPOV4 color light-painting kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Hutkins (phutkins)
[access "refs/for/refs/*"]
	read = group user/Peter Hutkins (phutkins)
	push = group user/Peter Hutkins (phutkins)
	label-Code-Review = -2..+2 group user/Peter Hutkins (phutkins)
	label-Verified = -1..+1 group user/Peter Hutkins (phutkins)
	rebase = group user/Peter Hutkins (phutkins)
	removeReviewer = group user/Peter Hutkins (phutkins)
	submit = group user/Peter Hutkins (phutkins)
[access "refs/heads/*"]
	read = group user/Peter Hutkins (phutkins)
	create = group user/Peter Hutkins (phutkins)
	push = +force group user/Peter Hutkins (phutkins)
	pushMerge = group user/Peter Hutkins (phutkins)
[access "refs/tags/*"]
	push = +force group user/Peter Hutkins (phutkins)
	pushTag = group user/Peter Hutkins (phutkins)
	pushSignedTag = group user/Peter Hutkins (phutkins)
